{{- include "./dot_config/exact_brew/.Brewfile.common" -}}

{{- if .personal -}}
{{- include "./dot_config/exact_brew/.Brewfile.personal" -}}
{{- end -}}

{{- if .new_work -}}
{{- include "./dot_config/exact_brew/.Brewfile.new-work" -}}
{{- end -}}
