{{- include "./dot_config/exact_brew/.Brewfile.common" -}}

{{- if .personal -}}
{{- include "./dot_config/exact_brew/.Brewfile.personal" -}}
{{- end -}}

{{- if .wasp -}}
{{- include "./dot_config/exact_brew/.Brewfile.wasp" -}}
{{- end -}}
