# Brew completions
/opt/homebrew/share/zsh-completions kind:fpath

{{.chezmoi.config.destDir}}/.config/antidote/omz-config.zsh kind:zsh

# OMZ and plugins
getantidote/use-omz
ohmyzsh/ohmyzsh path:lib
ohmyzsh/ohmyzsh path:plugins/fancy-ctrl-z
ohmyzsh/ohmyzsh path:plugins/fzf
ohmyzsh/ohmyzsh path:plugins/iterm2
ohmyzsh/ohmyzsh path:plugins/jj
ohmyzsh/ohmyzsh path:plugins/mise

# Other plugins
zsh-users/zsh-syntax-highlighting
zsh-users/zsh-autosuggestions
zsh-users/zsh-history-substring-search
atuinsh/atuin
aloxaf/fzf-tab

# Some utils
cprecioso/try kind:path

# Theme
moarram/headline
