[tools]
"npm:@anthropic-ai/claude-code" = "latest"
"npm:@openai/codex" = "latest"
"npm:@railway/cli" = "latest"
"npm:@wasp.sh/wasp-app-runner" = "latest"
"npm:dotenv-vault" = "latest"
"ubi:sst/opencode" = "latest"
cabal = "3.12.1.0"
flyctl = "latest"
ghc = "9.6.7"
hls = "2.12.0.0"
node = "22.12"
wasp = "latest"

[env]
TRY_DIR = "{{ "{{ config_root }}" }}/try"
OP_ACCOUNT = "wasplang.1password.com"
WASP_TELEMETRY_DISABLE = "1"

'_'.path = ["./.bin"]

[settings]
idiomatic_version_file_enable_tools = ["node", "wasp"]
