[tools]
"npm:@anthropic-ai/claude-code" = "latest"
"npm:@railway/cli" = "latest"
"npm:dotenv-vault" = "latest"
"ubi:sst/opencode" = "latest"
"ubi:tweag/ormolu" = "0.4.0.0"
cabal = "3.14.2.0"
flyctl = "latest"
ghc = "9.0.2"
hls = "1.9.0.0"
node = "22.12"
wasp = "latest"

[env]
TRY_DIR = "{{ "{{ config_root }}" }}/try"
OP_ACCOUNT = "wasplang.1password.com"
WASP_TELEMETRY_DISABLE = "1"

'_'.path = [
  "./.bin",

  # Old Haskell workaround for Apple Silicon
  "/opt/homebrew/opt/llvm@13/bin",
]

# Old Haskell workaround for Apple Silicon
C_INCLUDE_PATH = "/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk/usr/include/ffi"

[tasks."start-docker"]
run = "orbctl start"

[tasks."postgres"]
run = "docker run --rm --publish 5433:5432 -v wasp-db-data:/var/lib/postgresql/data --env POSTGRES_PASSWORD={{ .waspPostgresPassword }} --name wasp-postgres postgres"
depends = "start-docker"

[settings]
idiomatic_version_file_enable_tools = ["node", "wasp"]
