[tools]
cabal = "3.14.2.0"
ghc = "8.10.7"
hls = "2.2.0.0"
"npm:dotenv-vault" = "latest"
flyctl = "latest"
node = "20"
"npm:@railway/cli" = "latest"
"npm:@anthropic-ai/claude-code" = "latest"
"ubi:sst/opencode" = "latest"
wasp = "latest"

[env]
OP_ACCOUNT = "wasplang.1password.com"
WASP_TELEMETRY_DISABLE = "1"

'_'.path = [
  "./.bin",
  "/opt/homebrew/opt/llvm@13/bin"
]

[tasks."start-docker"]
run = "orbctl start"

[tasks."postgres"]
run = "docker run --rm --publish 5433:5432 -v wasp-db-data:/var/lib/postgresql/data --env POSTGRES_PASSWORD={{ .waspPostgresPassword }} --name wasp-postgres postgres"
depends = "start-docker"

[settings]
idiomatic_version_file_enable_tools = ["node", "wasp"]
