[tools]
"github:tfausak/cabal-gild" = "latest"
"npm:@railway/cli" = "latest"
"npm:@wasp.sh/wasp-app-runner" = "latest"
"npm:dotenv-vault" = "latest"
cabal = "3.12.1.0"
flyctl = "latest"
ghc = "9.6.7"
hls = "2.12.0.0"
node = "22.22.2"
wasp = "latest"

[tool_alias]
cabal = "asdf:mise-plugins/mise-ghcup"
ghc = "asdf:mise-plugins/mise-ghcup"
hls = "asdf:mise-plugins/mise-ghcup"
wasp = "npm:@wasp.sh/wasp-cli"

[env]
TRY_DIR = "{{ "{{ config_root }}" }}/try"
OP_ACCOUNT = "wasplang.1password.com"
WASP_TELEMETRY_DISABLE = "1"

'_'.path = ["./.bin"]

[settings]
idiomatic_version_file_enable_tools = ["node", "wasp"]
