[tools]
"github:tfausak/cabal-gild" = "latest"
ormolu = "latest"
railway = "latest"
"npm:@wasp.sh/wasp-app-runner" = "latest"
"npm:dotenv-vault" = "latest"
flyctl = "latest"
node = "24.14.1"
wasp = "latest"
"aqua:ghcup" = "latest"
cabal = "3.12.1.0"
"mise-ghcup:ghc" = "9.6.7"
"mise-ghcup:hls" = "2.12.0.0"

[plugins]
"vfox:mise-ghcup" = "https://github.com/cprecioso/mise-ghcup.git"

[tool_alias]
wasp = "npm:@wasp.sh/wasp-cli"

[env]
TRY_DIR = "{{ "{{ config_root }}" }}/try"
OP_ACCOUNT = "wasplang.1password.com"
WASP_TELEMETRY_DISABLE = "1"

'_'.path = ["./.bin"]

[settings]
idiomatic_version_file_enable_tools = ["node"]
experimental = true
