{{- if eq .type "new-work" -}}
[user]
  name = Carlos Precioso
	email = carlos.precioso@onlyfy.com
	signingKey = "key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIH5xYmQz4rLNArPGDS9HqdIA1eNkowWgSAVTmns72H3t"

[credential "https://source.xing.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
	provider = github

[credential "https://git.prescreen.io"]
	provider = generic
{{ end -}}
