init-module=${XDG_CONFIG_HOME}/npm/config/npm-init.js

cache=${XDG_CACHE_HOME}/npm
prefix=${XDG_DATA_HOME}/npm

{{ if .personal -}}
//npm.pkg.github.com:_authToken=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
//npm.pkg.github.com/:_authToken=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
{{- end }}
