github@precioso.design {{ onepasswordRead "op://Private/Git Personal Key/public key" "my.1password.eu" }}
agent@precioso.design {{ onepasswordRead "op://Private/Agent Commits/public key" "my.1password.eu" }}

{{- if .wasp }}
carlos@wasp-lang.dev {{ onepasswordRead "op://Employee/Git Work Key/public key" "wasplang.1password.com" }}
{{- end }}
