{{- $personal := promptBoolOnce . "personal" "Add Personal files" -}}
{{- $wasp   := promptBoolOnce . "wasp"   "Add Wasp files"   -}}

[data]
  personal = {{ $personal | toToml }}
  wasp   = {{ $wasp   | toToml }}

[merge]
command = "bash"
args = [
    "-c",
    "{{ "cp {{ .Target }} {{ .Target }}.base && code --new-window --wait --merge {{ .Destination }} {{ .Target }} {{ .Target }}.base {{ .Source }}" }}",
]
