{{- $personal := promptBoolOnce . "personal" "Add Personal files" -}}
{{- $wasp   := promptBoolOnce . "wasp"   "Add Wasp files"   -}}

[data]
  personal = {{ $personal | toToml }}
  wasp   = {{ $wasp   | toToml }}
