{{- $personal := promptBoolOnce . "personal" "Add Personal files" -}}
{{- $new_work := promptBoolOnce . "new_work" "Add New Work files" -}}

[data]
  personal = {{ $personal | toToml }}
  new_work = {{ $new_work | toToml }}
