#!/usr/bin/env zsh
# shellcheck shell=bash

# zshrc hash: {{ includeTemplate "./readonly_dot_zshrc.tmpl" . | sha256sum }}
# zprofile hash: {{ includeTemplate "./readonly_dot_zprofile.tmpl" . | sha256sum }}
source /opt/homebrew/share/antigen/antigen.zsh
antigen reset
