[tools]
node = "lts"
deno = "latest"
"npm:corepack" = "latest"
"npm:prettier" = "latest"
"uv" = "latest"
pitchfork = "latest"

{{- if .personal }}
tuist = "latest"
{{- end -}}

{{- if .wasp }}
cabal = "latest"
stack = "latest"
hls = "latest"
ghc = "latest"
{{- end }}

[settings]
lockfile = true
experimental = true

[settings.pipx]
uvx = true
