[tools]
node = "lts"
deno = "latest"
"npm:prettier" = "latest"
"uv" = "latest"

{{- if .personal }}
tuist = "latest"
{{- end -}}

{{- if .wasp }}
cabal = "latest"
stack = "latest"
hls = "latest"
ghc = "latest"
{{- end }}

[tool_alias]
wasp = "asdf:cprecioso/asdf-wasp"

[env]
TRY_DIR = "{{.chezmoi.config.destDir}}/Developer/Personal/try"

[settings]
lockfile = true
experimental = true

[settings.pipx]
uvx = true
