[tools]
node = "lts"
deno = "latest"
"npm:corepack" = "latest"
uv = "latest"
"npm:prettier" = "latest"
codex = "latest"
opencode = "latest"

{{- if .personal }}
tuist = "latest"
{{- end }}

[env]
TRY_DIR = "{{.chezmoi.config.destDir}}/Developer/Personal/try"

[settings]
lockfile = true

[settings.github]
use_git_credentials = true
