[user]
  name = Carlos Precioso
	email = carlos@wasp-lang.dev
	signingKey = "key::{{ onepasswordRead "op://Employee/Git Work Key/public key" "wasplang.1password.com" }}"

[includeIf "hasconfig:remote.*.url:https://github.com/wasp-lang/**"]
  path=wasp-config.inc
