"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
name = "Carlos Precioso"
email = "github@precioso.design"

[ui]
diff.format = "git"
diff.tool = ["difft", "--color=always", "$left", "$right"]
merge-editor = "vscode"
default-command = "log"

[signing]
behavior = "own"
backend = "ssh"
key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIDlGhuUmMUn/d9Fs99wvgsppmtrg8ijqxGqikJOLhzFq"
backends.ssh.program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"

[git]
push-new-bookmarks = true

[revsets]
log = "current_bookmark"

[revset-aliases]
'local_work' = 'remote_bookmarks()..(visible_heads() ~ builtin_immutable_heads())'
'current_bookmark' = '(trunk()..@)::'

{{ if .wasp -}}
# Wasp
{{ include "./dot_config/exact_jj/.config.wasp.toml" -}}
{{- end -}}
