#!/bin/bash

set -euo pipefail

app_name="$1"

docker build -t "$app_name" .wasp/build/ && docker run \
  --env DATABASE_URL="postgresql://postgres:{{ .waspPostgresPassword }}@localhost:5433/${app_name}-db" \
  --env WASP_WEB_CLIENT_URL='http://localhost:3000' \
  --env JWT_SECRET='your-jwt-secret' \
  --env GOOGLE_CLIENT_SECRET="your-google-client-secret" \
  --env GOOGLE_CLIENT_ID="your-google-client-id" \
  --env KEYCLOAK_CLIENT_ID="your-keycloak-client-id" \
  --env KEYCLOAK_CLIENT_SECRET="your-keycloak-client-secret" \
  --env KEYCLOAK_REALM_URL="https://your-keycloak-url.com/realms/master" \
  --env GITHUB_CLIENT_ID="your-github-client-id" \
  --env GITHUB_CLIENT_SECRET="your-github-client-secret" \
  --env WASP_SERVER_URL='http://localhost:3001' \
  --env OPENAI_API_KEY="your-open-api-key" \
  --env-file .env.server \
  --network host \
  "$app_name"
