{{- if .remote -}}
[tools]
awscli = "2"
kubectl = "1.29"
remotectl = "latest"

[env]
AWS_PROFILE = "sts"
REMOTE_USERNAME = "carlos.precioso@remote.com"
OP_ACCOUNT = "remotecom.1password.com"
{{ end -}}
