{{- if .remote -}}
[user]
  name = Carlos Precioso
	email = carlos.precioso@remote.com
	signingKey = "key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOdO7UIlkhd6aYZNWCqDthsP4sibDRVpav2NyXzZhUGK"
{{ end -}}
