#!/usr/bin/env zsh
# shellcheck shell=bash

source "{{.chezmoi.config.destDir}}/.config/zsh/xdg-overrides.zsh"

zstyle :omz:plugins:iterm2 shell-integration yes # iTerm integration

# Initially disable the atuin shortcuts
export ATUIN_NOBIND="true"

# Antidote
source "{{.chezmoi.config.destDir}}/.config/antidote/zsh_plugins.zsh"

# Restore atuin ctrl+r shortcut, overriding the fzf one
bindkey '^r' _atuin_search_widget

# pitchfork
source <(pitchfork activate zsh)

# `file` formula
export PATH="/opt/homebrew/opt/file-formula/bin:$PATH"

# Alias
alias www="python3 -m http.server"

# VS Code editor
export EDITOR="code --wait"

# Set location for compinit files
compinit -d "$XDG_CACHE_HOME"/zsh/zcompdump-"$ZSH_VERSION"
