#!/usr/bin/env zsh
# shellcheck shell=bash

# brew completions
if type brew &>/dev/null; then
  FPATH=$(brew --prefix)/share/zsh-completions:$FPATH

  autoload -Uz compinit
  compinit -i -d "$XDG_CACHE_HOME"/zsh/zcompdump-"$ZSH_VERSION"
fi

source "$HOME/.config/zsh/xdg-overrides.zsh" # hash: {{ includeTemplate "./dot_config/exact_zsh/xdg-overrides.zsh.tmpl" . | sha256sum }}

zstyle :omz:plugins:iterm2 shell-integration yes # iTerm integration

# Initially disable the atuin shortcuts
export ATUIN_NOBIND="true"

# Antigen
source /opt/homebrew/share/antigen/antigen.zsh
antigen init "$HOME/.config/antigen/antigenrc" # hash: {{ include "./dot_config/exact_antigen/antigenrc" | sha256sum }}

# fzf
eval "$(fzf --zsh)"

# jj
source <(COMPLETE=zsh jj)

# pitchfork
source <(pitchfork activate zsh)

# Restore atuin ctrl+r shortcut, overriding the fzf one
bindkey '^r' _atuin_search_widget

# `file` formula
export PATH="/opt/homebrew/opt/file-formula/bin:$PATH"

# Alias
alias www="python3 -m http.server"

# VS Code editor
export EDITOR="code --wait"
