#!/usr/bin/env zsh
# shellcheck shell=bash

source "{{.chezmoi.config.destDir}}/.config/zsh/xdg-overrides.zsh"

# Initially disable the atuin shortcuts
export ATUIN_NOBIND="true"

# Antidote
source "{{.chezmoi.config.destDir}}/.config/antidote/check_update.zsh"
source "{{.chezmoi.config.destDir}}/.local/state/antidote/zsh_plugins.zsh"

# Restore atuin ctrl+r shortcut, overriding the fzf one
bindkey '^r' _atuin_search_widget

# pitchfork
source <(pitchfork activate zsh)

# `file` formula
export PATH="/opt/homebrew/opt/file-formula/bin:$PATH"

# Local bin
export PATH="{{.chezmoi.config.destDir}}/.local/bin:$PATH"

# Alias
alias www="python3 -m http.server"

# VS Code editor
export EDITOR="code --wait"
